
.style_header {
    font-size: 1.5rem;
    color: white;
    width: auto;
    font-weight: 500;
    padding: 12px;
    padding-left: 20px;
    background-color: #1da1f2;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    margin-top: 5rem;
}
.style_content {
    padding-left:  10px;
    padding-top: 10px;
    margin-bottom: 40rem;
    border-color: grey;
    border: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    height: 30rem;
}
.form-control-sm {
    margin: 100rem;

    height:35px !important;
}