.ChonChuyenKhoa_wrapper {
    padding: 60px 0;
    background-image: linear-gradient(45deg,#6a78d1,#00a4bd);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    margin-bottom: 40px;
    padding: 2rem 0;
    font-size: 16px;
    font-weight: 300;
}

.ChonChuyenKhoa_wrapper_content {
    color: white;
    display: block;
    padding: 16px 0 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.ChonChuyenKhoa_wrapper_content > a, 
.ChonChuyenKhoa_chon_chuyen_khoa {
    color: white;
    text-decoration: none;
    opacity: 0.6;
}

.ChonChuyenKhoa_wrapper_content i {
    font-size: 8px;
}

.ChonChuyenKhoa_chon_chuyen_khoa {
    display: inline-block;
    padding-right: 4px;
}

.ChonChuyenKhoa_wrapper_content > a:hover,
.ChonChuyenKhoa_wrapper_content > .ChonChuyenKhoa_chon_chuyen_khoa:hover {
    color: white;
    opacity: 1;
}

.ChonChuyenKhoa_chuyen_khoa_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    position: relative;
    min-height: 800px;
}

.ChonChuyenKhoa_thong_tin_kham {
    max-width: 25%;
}

.ChonChuyenKhoa_thong_tin {
    background-color: #1da1f2;
    color: white;
    font-weight: 700;
    padding: 12px 20px;
}

.ChonChuyenKhoa_dia_chi {
    padding: 12px 20px;
    border: #dee2e6 2px solid;
}

.ChonChuyenKhoa_dia_chi > i {
    padding-right: 5px;
}

.ChonChuyenKhoa_chon_khoa {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 75px;
}

.ChonChuyenKhoa_cac_chuyen_khoa {
    width: 600px;
    max-height: 500px;
    overflow: auto;
    border-bottom: #dee2e6 2px solid;
    border-left: #dee2e6 2px solid;
    border-right: #dee2e6 2px solid;
}

.ChonChuyenKhoa_search {
    padding: 20px;
    border-left: #dee2e6 2px solid;
    border-right: #dee2e6 2px solid;
}

.ChonChuyenKhoa_chon_chuyen_khoa > i {
    top: 0;
    bottom: 0;
    font-size: 16px;
    padding: 12px;
    color: #dee2e6;
}

.ChonChuyenKhoa_search_box {
    position: relative;
    min-height: 50px;
}

.ChonChuyenKhoa_search_box > i {
    position: absolute;
    padding: 13px;
}

.ChonChuyenKhoa_search_box > i:hover {
    cursor: pointer;
}

.ChonChuyenKhoa_search_box > input {
    position: absolute;
    width: 90%;
    border-radius: 3px;
    border: #dee2e6 2px solid;
    padding: 10px;
    line-height: 1.5;
    margin-left: 45px;
}

.ChonChuyenKhoa_cac_chuyen_khoa ul {
    padding-inline-start: 16px;
}

.ChonChuyenKhoa_cac_chuyen_khoa li {
    list-style-type: none;
    padding: 10px 0 10px 0;
    border-top: #dee2e6 2px solid;
}

.ChonChuyenKhoa_ten_chuyen_khoa {
    text-decoration: none;
    color: #12263f;
    padding: 10px 0 10px 0;
}

.ChonChuyenKhoa_ten_chuyen_khoa:hover {
    color: #1da1f2;
}

.ChonChuyenKhoa_thac_mac {
    position: absolute;
    font-weight: 700;
    padding: 20px 0 20px;
    color: #1da1f2;
}

.ChonChuyenKhoa_back {
    position: absolute;
    font-weight: 700;
    padding: 20px 0 20px;
    right: 0;
}