.container {
    background-size: cover;
    min-height: 1000px;
}
.content {
    background-image: url(../../assets/images/hospital_background.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 300px;
}
.middle {
    background-color: rgba(197, 197, 197, 0.692);
    //opacity: 0.5;
    align-items: center;
    width: 25%;
    height: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.btn-flat {
    background-color: rgb(19, 0, 128);
    color: white;
}

.btn-xxl {
    background-color: rgb(19, 0, 128);
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}
.doctorImage {
    width: 25%;
    height: 25%;
}

.title {
    opacity: 1;
    font-size: 3rem;
    font-weight: bold;
    color: #307be7;
    text-align: left;
    padding-left: 2rem;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: left;
}
.card-text {
    text-align: left;
}
// .button-card {
//     background-color: #307be7;
//     margin-block: 1rem;
// }
