.style_img_parallax {
    height: unset !important;
    padding-top: 60px !important;
    padding-bottom: 80px !important;
    background-position: 50% center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.style_title_component.style_title_contact {
    color: #fff;
    z-index: 2;
    font-size: 2rem;
}

.style_title_component.style_title_line {
    margin-bottom: 35px;
    color: #12263f;
    text-align: center;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    font-size: 1.25rem;
}

.style_title_component.style_title_line span:after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #9bf4cf;
    bottom: 4px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.style_title_component.style_title_contact span:after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #54dd76;
    bottom: 4px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.style_title_component.style_title_line span {
    position: relative;
}

.style_img_parallax h1 span {
    font-size: 3.2rem;
}

.style_img_parallax h1 {
    margin-bottom: 20px!important;
    color: #fff!important;
}

.style_desc {
    margin: 0 0 60px;
}

.style_desc p {
    font-size: 1.6rem;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.style_list_hotline {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    padding: 0 15px;
}

.style_list_group {
    flex: 0 1 33.33333%;
    display: flex;
    padding-left: 30px;
}

.style_list_group .style_list_group_item {
    background-color: #fff;
    width: 100%;
    padding: 30px 15px;
    border-radius: 6px;
    text-align: center;
}

.style_list_hotline h2 {
    color: #0e2b5c!important;
    font-size: 2.24rem;
    font-weight: 500;
}

.style_img_parallax p {
    color: #fff;
}

.style_desc__2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0;
    color: #000!important;
}

.style_list_group_img {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.style_list_group_img img {
    margin-bottom: 10px;
    width: -webkit-max-content!important;
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.view img, .view video {
    position: relative;
    display: block;
}

.style_icon {
    margin-top: 10px;
}

img {
    border: none;
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.style_phone {
    margin-top: 10px;
    font-size: 1.6rem;
    color: #00f;
    font-weight: 900;
}

.style_out_working_hours {
    margin-top: 10px;
    font-size: 1.4rem;
    color: red;
}

.style_contact_page {
    position: relative;
    background: #fff;
    margin: -50px auto 120px;
    border-radius: 6px;
    min-height: 300px;
    padding: 30px;
    max-width: 1140px;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

h3.style_add_info, span.style_text_info {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

span.style_text_info {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
}

.style_contact_column .style_contact_inner_box ul {
    padding: 0;
    list-style: none;
}

.style_contact_column .style_contact_inner_box ul li {
    font-size: 14px;
    line-height: 25px;
    color: #12263f;
    font-weight: 700;
    margin-bottom: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.style_contact_column .style_contact_inner_box ul li span {
    font-size: 30px;
    line-height: 25px;
    margin-right: 20px;
}

.fal {
    font-weight: 600;
}

.fal-regular, .fal, .far {
    font-family: Font Awesome\ 5 Free;
}

.fa-hospital:before {
    content: "\f0f8";
}

.fa-stethoscope:before {
    content: "\f0f1";
}

.fa-cog:before {
    content: "\f013";
}

.style_contact_column .style_contact_inner_box ul li p {
    display: block;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 25px;
}

.style_contact_column .style_contact_inner_box .style_addressLink {
    color: #12263f;
    border: none;
    text-decoration: none;
    font-weight: 400!important;
}

.style_contact_column .style_contact_inner_box ul li p {
    display: block;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 25px;
}

.style_form_contact_info.style_form_contact_custom {
    display: flex;
    flex-wrap: wrap;
}

.style_form_contact_info {
    margin-bottom: 20px;
}

.style_form_contact_info.style_form_contact_custom>div {
    width: 50%;
    padding-right: 15px;
    margin-bottom: 15px;
}

.style_form_group {
    font-size: 1.6rem;
    position: relative;
}

.style_form_group label {
    font-weight: 700;
}

.style_form_group label {
    color: #12263f!important;
    font-size: 1.6rem;
    font-weight: 700;
}

label {
    display: inline-block;
    margin-bottom: 1.6rem;
}

.style_form_group sup {
    color: #f62c2c;
}

sup {
    top: -0.5em;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: initial;
}

.style_form_group input, .style_form_group textarea {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.style_form_group input {
    font-size: 1.6rem;
    background: #fff;
    font-style: normal;
    padding: 0 10px;
    color: #032a5f!important;
    border: 1px solid rgba(3,42,95,.1);
    border-radius: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input::placeholder, select {
    font-size: 1.6rem;
    color: #627792!important;
}

input, select {
    height: 45px!important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.style_form_group input:focus {
    background-color: #fff;
    border-color: #0352cc;
    outline: 0;
    box-shadow: none!important;
    color: #032a5f!important;
}

.style_form_select select {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.style_form_group select {
    font-style: normal;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid rgba(3,42,95,.1);
    border-radius: 5px;
}

.custom-control-label:before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: url('./select_icon.png') no-repeat right 0.75rem center/8px 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    appearance: none;
}

select {
    font-size: 1.6rem!important;
}

input::placeholder, select {
    font-size: 1.6rem;
    color: #627792!important;
}

input, select {
    height: 45px!important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

select {
    word-wrap: normal;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

select.form-control[multiple], select.form-control[size], textarea.form-control {
    height: auto;
}

textarea {
    overflow: auto;
    resize: vertical;
    font-size: 1.6rem;
}

.style_w_100 {
    width: 100%!important;
}

.style_form_group select:focus {
    border-color: #0352cc;
    outline: 0;
    box-shadow: none!important;
    color: #032a5f!important;
}

.btn.btn-flat {
    font-weight: 500;
    color: inherit;
    background-color: initial;
}

.style_button.style_confirm, .style_button.style_create, .style_button.style_create_patient_form, .style_button.style_payment {
    background: #1da1f2;
    color: #fff;
}

.btn.btn-flat, .btn.btn-flat:not([disabled]):not(.disabled):active {
    box-shadow: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.style_btn_send_support button {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 60px;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
    appearance: none;
}

.Ripple-parent {
    position: relative;
    overflow: hidden;
    touch-action: none;
}

.style_button {
    padding: 12px 20px;
    border-radius: 3px;
    text-transform: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
}

.btn {
    margin: 0.375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    border: 0;
    border-radius: 0.125rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0.75rem 2.188rem;
    font-size: .81rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: initial;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.style_btn_send_support {
    text-align: right;
}

.btn.btn-flat, .btn.btn-flat:not([disabled]):not(.disabled):active {
    box-shadow: none;
}

.btn:active, .btn:focus, .btn:hover {
    outline: 0;
    // box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

button:focus {
    outline: 0!important;
}

.style_button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -2px;
    bottom: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    width: 100%;
}

.style_button.style_confirm:hover, .style_button.style_create:hover, .style_button.style_create_patient_form:hover, .style_button.style_payment:hover {
    background-color: #007bff;
    color: #fff!important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive:before {
    padding-top: 56.25%;
}

.embed-responsive:before {
    display: block;
    content: "";
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 768px){
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}