$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;

.button {
    padding: 12px 20px;
    border-radius: 3px;
    text-transform: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
    &.back_children {
      background: #fff;
      color: #12263f !important;
      border: 1px solid #e3ebf6;
      padding: 0.6rem 0.85rem 0.5rem;
      font-size: 12px;
      line-height: 1.5;
      &:hover {
        background-color: #fff !important;
        color: #0352cc !important;
        border: 1px solid #0352cc;
      }
    }
  }
  .title_component {
    button {
      padding: 8px 25px;
    }
    i {
      margin-right: 7px;
    }
    &.title_info_account {
      font-size: 0.875rem;
      margin: 0;
      font-weight: bold;
    }
    &.text_left {
      text-align: left !important;
    }
    &.title_thacmac {
      padding: 11px 15px;
      font-size: 1rem;
      line-height: 1.5rem;
      background: #1da1f2;
      color: #fff;
      border-radius: 4px;
    }
    &.title_line {
      margin-bottom: 35px;
      //color: $main_black;
      text-align: center;
      font-weight: 500;
      position: relative;
      text-transform: uppercase;
      z-index: 2;
      font-size: 1.25rem;
  
      span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          border-bottom: 5px solid #9bf4cf;
          bottom: 4px;
          left: 0;
          width: 100%;
          z-index: -1;
        }
      }
      &.title_login {
        margin-bottom: 0.5rem;
        text-align: left;
        z-index: 0;
      }
    }
    &.title_user {
      font-size: 1.5rem;
    }
    &.title_headline {
      font-weight: 700 !important;
      color: #12263f;
      font-size: 1rem;
      text-align: center;
      margin: 10px 0 22px;
      text-transform: uppercase;
      width: 100%;
    }
    &.title_contact {
      color: #ffffff;
      z-index: 2;
      font-size: 2rem;
      span {
        &::after {
          content: "";
          position: absolute;
          border-bottom: 5px solid #54dd76;
          bottom: 4px;
          left: 0;
          width: 100%;
          z-index: -1;
        }
      }
    }
    &.title_header_mobile {
      @media #{$medium-and-down} {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 15px 0;
        display: block;
        text-align: center;
        span {
          &:after {
            border: 0;
          }
        }
      }
    }
  }
  .space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title_choose_date {
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
    margin-bottom: 0;
  }

  .back_btn {
    margin-bottom: 30px;
    display: flex;
    @media #{$medium-and-down} {
      display: none;
    }
  }
  .card {
    font-weight: 400;
    border: 0;
    //box-shadow: $z-depth-1;
    // &[class*="border"] {
    //   border: 1px solid $grey-base;
    //   box-shadow: none;
    // }
    .card-body {
      h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
      }
    //   .card-title {
    //     a {
    //       transition: $md-card-link-transition;
    //       &:hover {
    //         transition: $md-card-link-transition;
    //       }
    //     }
    // //   }
    //   .card-text {
    //     font-size: $md-card-font-size;
    //     font-weight: 400;
    //     color: $md-card-text-color;
    //   }
     }
    .md-form {
      label {
        font-weight: 300;
      }
    }
  }
  .panels {
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: unset;
    .panels_header {
      background: #1da1f2;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 500;
      &.space_between {
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 2px 1.25rem 1px;
      }
  
    }
    ul {
      border-bottom: 1px solid #dfe3eb;
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      &:last-child {
        border-bottom: 0;
      }
    }
    .card_body {
      border-bottom: 1px solid #dfe3eb;
      border-right: 1px solid #dfe3eb;
      border-left: 1px solid #dfe3eb;
    }
      @media #{$medium-and-down} {
        &.panel_mobile{
      .panels_header{
          background: none;
          color: #000;
          padding: 0;
          border: 0;
        }
        .card_body{
          border:0;
          padding: 0 !important;
        }
        }
     
      }
  }  
  .panels {
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: unset;
    .panels_header {
      background: #1da1f2;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 500;
      &.space_between {
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 2px 1.25rem 1px;
      }
  
    }
    ul {
      border-bottom: 1px solid #dfe3eb;
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      &:last-child {
        border-bottom: 0;
      }
    }
    .card_body {
      border-bottom: 1px solid #dfe3eb;
      border-right: 1px solid #dfe3eb;
      border-left: 1px solid #dfe3eb;
    }
      @media #{$medium-and-down} {
        &.panel_mobile{
      .panels_header{
          background: none;
          color: #000;
          padding: 0;
          border: 0;
        }
        .card_body{
          border:0;
          padding: 0 !important;
        }
        }
     
      }
  }
.text-center {
    text-align: center!important;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    //color: $card-cap-color;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
  
    &:first-child {
      border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }
  
    + .list-group {
      .list-group-item:first-child {
        border-top: 0;
      }
    }
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    //border: 1px solid rgba(0,0,0,.125);
    border-radius:.25rem;
  
    > hr {
      margin-right: 0;
      margin-left: 0;
    }
  
    // > .list-group:first-child {
    //   .list-group-item:first-child {
    //     @include border-top-radius($card-border-radius);
    //   }
    // }
  
    // > .list-group:last-child {
    //   .list-group-item:last-child {
    //     @include border-bottom-radius($card-border-radius);
    //   }
    // }
  }
  .title_component {
    button {
      padding: 8px 25px;
    }
    i {
      margin-right: 7px;
    }
    &.title_info_account {
      font-size: 0.875rem;
      margin: 0;
      font-weight: bold;
    }
    &.text_left {
      text-align: left !important;
    }
    &.title_thacmac {
      padding: 11px 15px;
      font-size: 1rem;
      line-height: 1.5rem;
      background: #1da1f2;
      color: #fff;
      border-radius: 4px;
    }
    &.title_line {
      margin-bottom: 35px;
      //color: $main_black;
      text-align: center;
      font-weight: 500;
      position: relative;
      text-transform: uppercase;
      z-index: 2;
      font-size: 1.25rem;
  
      span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          border-bottom: 5px solid #9bf4cf;
          bottom: 4px;
          left: 0;
          width: 100%;
          z-index: -1;
        }
      }
      &.title_login {
        margin-bottom: 0.5rem;
        text-align: left;
        z-index: 0;
      }
    }
    &.title_user {
      font-size: 1.4rem;
    }
    &.title_headline {
      font-weight: 700 !important;
      color: #12263f;
      font-size: 1rem;
      text-align: center;
      margin: 10px 0 22px;
      text-transform: uppercase;
      width: 100%;
    }
    &.title_contact {
      color: #ffffff;
      z-index: 2;
      font-size: 2rem;
      span {
        &::after {
          content: "";
          position: absolute;
          border-bottom: 5px solid #54dd76;
          bottom: 4px;
          left: 0;
          width: 100%;
          z-index: -1;
        }
      }
    }
    &.title_header_mobile {
      @media #{$medium-and-down} {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 15px 0;
        display: block;
        text-align: center;
        span {
          &:after {
            border: 0;
          }
        }
      }
    }
  }
  .space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title_choose_date {
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
    margin-bottom: 0;
  }
  .card-body {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    padding: 1.25rem;
    
  }
  .list_group {
    li {
      padding: 0;
      i {
        margin-right: 7px;
        width: 20px;
        text-align: center;
      }
      strong {
        color: '#0352cc';
      }
    }
    @media (min-width: 600px) {
      flex-direction: unset;
      flex-wrap: wrap;
      li {
        width: 50%;
      }
    }
    // @media (max-width: 992px) {
    //   li {
    //     div {
    //       min-width: auto !important;
    //     }
    //   }
    // }
  }
  .list-group {
    display: flex;
    //flex-direction: column;
  
    // No need to set list-style: none; since .list-group-item is block level
    padding-left: 0; // reset padding because ul and ol
    margin-bottom: 0;
  }
  .list_group {
    li {
      padding: 0 0 0 0;
      border: 0;
      margin: 0 0 10px 0;
      border-radius: 0;
      display: flex;
      // align-items: center;
      font-size: 1.4rem;
      background: transparent;
      .fullname {
        color: #0352cc;
        font-weight: 500;
        transition: 0.3s linear;
        text-transform: capitalize;
      }
      i {
        margin-right: 7px;
      }
      .column1,
      .column2 {
        min-width: 150px;
        word-break: break-word;
        &.w_80 {
          min-width: 80px;
        }
        &.w_90 {
          min-width: 90px;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  