.ChuyenKhoa_wrapper {
    padding: 60px 0;
    background-image: linear-gradient(45deg,#6a78d1,#00a4bd);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3.2rem;
    font-weight: 700;
}

.ChuyenKhoa_chuyen_khoa_box {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    max-width: 1200px;
    color: #12263F;
}

.ChuyenKhoa_lam_sang {
    display: inline-block;
    max-width: 48%;
}

.ChuyenKhoa_chuyen_khoa_box img {
    max-width: 100%;
}

.ChuyenKhoa_anh_lam_sang {
    position: relative;
}

.ChuyenKhoa_khoa_content {
    font-size: 25px;
    position: relative;
    background-color: #1DA1F2;
    opacity: 0.75;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ChuyenKhoa_noi_dung_khoa {
    column-count: 2;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ChuyenKhoa_chuyen_khoa_box ul {
    margin: 0;
    padding-inline-start: 15px;
}

.ChuyenKhoa_chuyen_khoa_box a {
    color: #12263F;
    text-decoration: none;
    text-transform: uppercase;
}

.ChuyenKhoa_chuyen_khoa_box a:hover {
    color: #1DA1F2;
}

.ChuyenKhoa_can_lam_sang {
    float: right;
    display: inline-block;
    max-width: 48%;
}