.wrapper {
    padding: 60px 0;
    background-image: linear-gradient(45deg,#6a78d1,#00a4bd);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3.2rem;
    font-weight: 700;
}

.chuyen_khoa_box {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    max-width: 1200px;
    color: #12263F;
}

.lam_sang {
    display: inline-block;
    max-width: 48%;
}

img {
    max-width: 100%;
}

.anh_lam_sang {
    position: relative;
}

.khoa_content {
    font-size: 25px;
    position: relative;
    background-color: #1DA1F2;
    opacity: 0.75;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 4px;
}

.noi_dung_khoa {
    column-count: 2;
    line-height: 25px;
}

ul {
    margin: 0;
    padding-inline-start: 15px;
}

a {
    color: #12263F;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #1DA1F2;
}

.can_lam_sang {
    float: right;
    display: inline-block;
    max-width: 48%;
}